body {

}

.hero {
  padding: 10em 1em;
}

.hero-img {
  width: 80%;
}

/* -------------------------------------------------------------- NAVBAR --- */
/* -------------------------------------------------------------- HERO ----- */
/* -------------------------------------------------------------- NAVBAR --- */
.quote_author_img {
  width: 80%;
  border-radius: 50%;
  /* float:left;
  margin-right: 10px; */
}


/* -------------------------------------------------------------- NAVBAR --- */
/* -------------------------------------------------------------- NAVBAR --- */
/* -------------------------------------------------------------- NAVBAR --- */
/* -------------------------------------------------------------- NAVBAR --- */
/* -------------------------------------------------------------- NAVBAR --- */
/* -------------------------------------------------------------- NAVBAR --- */
