body {
    font-family: 'Lato', sans-serif;
    color: #333;
}

h1 {
    color: #5b5676;
}

h2 {
    color: #5b5676;
    font-size: 2em;
    margin-bottom: 1em;
}




/* -------------------------------------------------------------- NAVBAR --- */

.bg-light {
    background-color: #fff!important;
    border-bottom: 1px solid #f7f7f7;
    width: 100%;
    height: 5.5em;
    position: fixed;
    z-index: 99999;
    padding: 0 7em;
    /* margin-bottom: 6em; */
}

.navbar-brand {
    width: 3.5em;
}

.logo_img {
    width: 100%;
}

.btn-outline-success-inverse {
    color: #5b5676;
    background-color: transparent;
    background-image: none;
    border-color: #5b5676;
    border-radius: 0;
    padding: .5em 3em;
}

.btn-outline-success-inverse:hover {
    color: #fff;
    background-color: #5b5676;

}


/* -------------------------------------------------------------- HERO ----- */

.hero {
    padding: 13em 0;
}

.hero-text {
    width: 75%;
}

.hero p {
    font-size: .9em;
}

.hero a {
    color: #5b5676;
}

.form-control {
    display: block;
    width: 100%;
    height: 3.5em;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #d6d6d6;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #f7f7f7;
    border-radius: 0;
    margin-bottom: 1em;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary {
    color: #fff;
    width: 100%;
    height: 3.5em;
    background-color: #5b5676;
    border-color: #5b5676;
    border-radius: 0;
    margin-bottom: 20px;
}

.btn-primary:hover {
    color: #5b5676;
    background-color: #fff;
    border-color: #5b5676;
}

.vid_button {
    /* width: 20px;
    height: 20px; */
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}


.hero-img {
  width: 90%;
}


/* -------------------------------------------------------------- CONSOLE --- */

.console {
    background-color: #f2f7f9;
    padding-top: 5em;
    padding-bottom: 10em;
}

.btn-outline-success:not(:disabled):not(.disabled).active {
    color: #fff;
    width: 100%;
    height: 3.5em;
    background-color: #5b5676;
    border-color: #5b5676;
    border-radius: 0;
    margin-bottom: 20px;
}

#pills-tab {
    width:40%;
    margin: 0 auto;
}

.tab-content {
    padding-top: 2.5em;
}

.console-text {
    padding: 7em 1em 0 7.5em;
    width: 85%;
}

.console_p {
    line-height: 1.7em;
    margin-bottom: 2.5em;
}

.quote {
    border-left: 5px solid #5b5676;
    padding: 0 1em;
    margin-bottom: 1.5em;
}

.quote_p {
    font-style: italic;
    color: #5b5676;
    font-size: 1em;
}

.author_p {
    font-size: .9em;
}

.quote_author_img {
    width: 100%;
    border-radius: 50%;
    /* float:left;
    margin-right: 10px; */
}

.console_img {
    /* margin-left: 7em; */
    -webkit-box-shadow: -1px 0px 25px 4px rgba(0,0,0,0.15);
    -moz-box-shadow: -1px 0px 25px 4px rgba(0,0,0,0.15);
    box-shadow: -1px 0px 25px 4px rgba(0,0,0,0.15);
}


/* ------------------------------------------------------------ EXPLAINER --- */

.explainer {
    padding: 7em 0 5em 0;
    border-bottom: 1px solid #f2f7f9;
}

.explainer_h1 {
    text-align: center;
    margin-bottom: 4em;
}

.cards {
    width: 90%;
    margin: 0 auto;
}

.explainer_img {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.imgh {
    background-image: url("../img/learn_3.svg");
    background-repeat: no-repeat;
    width: 80%;
    height: 170px;
    margin-bottom: 3em;
    /* background-attachment: fixed; */
    background-position: center;
}

.imgh.classmates {
    background-image: url("../img/classmates.svg");
}

.imgh.altogether {
    background-image: url("../img/altogether.svg");
}

.explainer_h5 {
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 1em;
    color: #5b5676;
}

.fas {
    float: left;
    margin-right: .4em;
    margin-top: .3em;
}

.read_more {
    font-size: .9em;
}

.explainer a {
    color: #5b5676;
    font-weight: 100;
}

.explainer p {
    margin-bottom: 2em;
}






/* --------------------------------------------------------------- MOBILE --- */

.mobile {
    padding: 5em 0 4em 0;
    border-bottom: 1px solid #f2f7f9;
}

.mobile h2 {
    text-align: center;
    margin-bottom: 2em;
}

.mobile_text {
    width: 80%;
    padding-top: 4em;
}

.mobile p {
    margin-bottom: 3em;
}

.mobtn {
    width:80%;
}

.mobile_img {
    width: 100%;
}



/* --------------------------------------------------------------- SLIDER --- */

#testimonials {
    padding: 13em 0 7em 0;
    border-bottom: 1px solid #f2f7f9;
}

.slider {
    width: 50%;
    margin: 0 auto;
}

.fa-graduation-cap {
    color: #5b5676;
    font-size: 3em;
}

.slider p {
    font-size: 1.5em;
    line-height: 1.9em;
    font-weight: bold;
    margin-bottom: 2em;
    /* text-align: center; */
}


.slider img {
    width: 10%;
    border-radius: 50%;
    float: left;
    margin-right: 1em;
}

p.job_title {
    text-align: left;
    font-size: 1.2em;
}

/* .carousel-control-prev {
    color: black;
} */

.carousel-control-prev-icon {

}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  /* outline: black; */
  background-size: 100%, 100%;
  border-radius: 50%;
  /* border: 1px solid black; */
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 3em;
  color: #5b5676;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 3em;
  color: #5b5676;
}

/* ----------------------------------------------------------------- SALE --- */

#sale {
    padding: 12em 0 10em 0;
    border-bottom: 1px solid #f2f7f9;
}

.blurb {
    width: 30%;
    margin: 0 auto;
}

.blurb h3 {
    line-height: 1.4em;
    margin-bottom: 2em;
}






/* -------------------------------------------------------------- NAVBAR --- */
/* -------------------------------------------------------------- NAVBAR --- */
